// Styles für 321via italienisch

// Import 321 main styles
@import "styles.less";

// Colors
@tdu-language-color: #e20613;


@tdu-coloredbutton-color: #555; // darken(@global-primary-background, 15%);
@tdu-coloredbutton-hover-color: darken(@tdu-coloredbutton-color, 10%);


//
// Fixed Backgrounds
//

@tdu-fixed-background-a: url(../images/fixed-background-a.jpg);
@tdu-fixed-background-b: url(../images/fixed-background-b.jpg);
@tdu-fixed-background-c: url(../images/fixed-background-c.jpg);




// Emacs!! Am Ende der Datei stehen lassen!
// Local Variables:
// less-css-compile-at-save: t
// less-css-input-file-name: "styles_321via.less"
// less-css-output-file-name: "styles_321via.css"
// End:
